<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="header">
      <h1>Messages</h1>
    </div>
    <div class="message-part">
      <% for(let i = 0; i < messages.length; i++) { %>
      <div class="message">
        <p>User: <%= messages[i].username %></p>
        <p>Text: <%= messages[i].message %></p>
        <p>Added: <%= messages[i].added %></p>
        <div class="message-options">
          <a href=<%= `/messages/${messages[i].id}` %> >Open</a>
          <a href= <%= `/messages/remove/${messages[i].id}`%> >Remove</a>
        </div>
      </div>
      <% } %>
    </div>  
    <div class="add">
      <button><a href="/new">Add</a></button>
    </div>
  </body>
</html>
